In [1]:
import pandas as pd
import json
import ast
import numpy as np

In [3]:
activity_data = pd.read_csv('activity_data.csv')
activity_data

,media_type,watched,rating,watchlist,profile_id,id,hide
0,{'S': 'movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'S': '0'}, 'timestamp': {'S':...",{'S': 'b1d89c45-ed9b-4a0e-8d78-28e628c2fb8c'},{'S': '744_movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {..."
1,{'S': 'movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'S': '3'}, 'timestamp': {'S':...","{'M': {'value': {'NULL': True}, 'timestamp': {...",{'S': 'b1d89c45-ed9b-4a0e-8d78-28e628c2fb8c'},{'S': '820_movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {..."
2,{'S': 'movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'S': '0'}, 'timestamp': {'S':...",{'S': 'b1d89c45-ed9b-4a0e-8d78-28e628c2fb8c'},{'S': '402_movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {..."
3,{'S': 'movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'S': '3'}, 'timestamp': {'S':...","{'M': {'value': {'S': '0'}, 'timestamp': {'S':...",{'S': 'b1d89c45-ed9b-4a0e-8d78-28e628c2fb8c'},{'S': '87_movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {..."
4,{'S': 'movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'S': '0'}, 'timestamp': {'S':...",{'S': 'b1d89c45-ed9b-4a0e-8d78-28e628c2fb8c'},{'S': '810_movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {..."

In [4]:
activity_data["_id"] = [int(ast.literal_eval((i.replace("'", '"')))["S"].split("_")[0]) for i in activity_data["id"]]
activity_data

,media_type,watched,rating,watchlist,profile_id,id,hide,_id
0,{'S': 'movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'S': '0'}, 'timestamp': {'S':...",{'S': 'b1d89c45-ed9b-4a0e-8d78-28e628c2fb8c'},{'S': '744_movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {...",744
1,{'S': 'movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'S': '3'}, 'timestamp': {'S':...","{'M': {'value': {'NULL': True}, 'timestamp': {...",{'S': 'b1d89c45-ed9b-4a0e-8d78-28e628c2fb8c'},{'S': '820_movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {...",820
2,{'S': 'movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'S': '0'}, 'timestamp': {'S':...",{'S': 'b1d89c45-ed9b-4a0e-8d78-28e628c2fb8c'},{'S': '402_movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {...",402
3,{'S': 'movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'S': '3'}, 'timestamp': {'S':...","{'M': {'value': {'S': '0'}, 'timestamp': {'S':...",{'S': 'b1d89c45-ed9b-4a0e-8d78-28e628c2fb8c'},{'S': '87_movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {...",87
4,{'S': 'movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'S': '0'}, 'timestamp': {'S':...",{'S': 'b1d89c45-ed9b-4a0e-8d78-28e628c2fb8c'},{'S': '810_movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {...",810

In [5]:
temp = activity_data[["_id", "rating", "hide", "watchlist", "watched"]].copy()

for i in temp:
  if i == "_id":
    continue
  temp[i] = [ast.literal_eval((j.replace("'", '"')))["M"]["value"].get("S", np.nan) for j in temp[i]]
temp

   _id rating  hide watchlist  watched
0  744    NaN   NaN         0      NaN
1  820      3   NaN       NaN      NaN
2  402    NaN   NaN         0      NaN
3   87      3   NaN         0      NaN
4  810    NaN   NaN         0      NaN

In [7]:
data = pd.read_csv('data.csv')
data

,_type,_id,_score,_source
0,movies,97,20.848059,"{'cast': ['Jeff Bridges', 'Bruce Boxleitner', ..."
1,movies,507,10.478757,"{'cast': ['Eric Stoltz', 'Julie Delpy', 'Jean-..."
2,movies,811,9.831051,"{'cast': ['Bruce Dern', 'Cliff Potts', 'Ron Ri..."
3,tvshows,25222,9.288745,"{'cast': ['Ron Rifkin', 'Eddie Barth', 'Charle..."
4,movies,757,9.140831,"{'cast': ['Margaret Rutherford', 'Ron Moody', ..."
5,movies,588,9.029721,"{'cast': ['Radha Mitchell', 'Sean Bean', 'Jode..."
6,movies,809,8.968119,"{'cast': ['Mike Myers', 'Eddie Murphy', 'Camer..."
7,tvshows,106,8.586343,"{'cast': ['Andy Griffith', 'Ron Howard', 'Fran..."
8,movies,759,8.351236,"{'cast': ['Jane Russell', 'Marilyn Monroe', 'C..."
9,movies,810,8.224913,"{'cast': ['Mike Myers', 'Eddie Murphy', 'Camer..."
10,movies,392,8.171915,"{'cast': ['Juliette Binoche', 'Alfred Molina',..."
11,movies,629,8.070547,"{'cast': ['Stephen Baldwin', 'Kevin Spacey', '..."
12,movies,744,7.992266,"{'cast': ['Tom Cruise', 'Kelly McGillis', 'Val..."
13,movies,838,7.869948,"{'cast': ['Richard Dreyfuss', 'Ron Howard', 'P..."
14,movies,847,7.856983,"{'cast': ['Warwick Davis', 'Val Kilmer', 'Joan..."
15,movies,33,7.301026,"{'cast': ['Clint Eastwood', 'Gene Hackman', 'M..."
16,movies,535,7.185848,"{'cast': ['Jennifer Beals', 'Michael Nouri', '..."
17,movies,819,7.033730,"{'cast': ['Brad Pitt', 'Robert De Niro', 'Kevi..."
18,movies,401,6.981756,"{'cast': ['Zach Braff', 'Natalie Portman', 'Ia..."
19,movies,787,6.981756,"{'cast': ['Angelina Jolie', 'Brad Pitt', 'Adam..."
20,movies,663,6.489738,"{'cast': ['Tobin Bell', 'Costas Mandylor', 'Sc..."
21,movies,577,6.466314,"{'cast': ['Nicole Kidman', 'Matt Dillon', 'Joa..."
22,movies,707,6.466314,"{'cast': ['Roger Moore', 'Christopher Walken',..."
23,movies,820,6.368584,"{'cast': ['Kevin Costner', 'Tommy Lee Jones', ..."
24,movies,280,6.200307,"{'cast': ['Arnold Schwarzenegger', 'Linda Hami..."
25,tvshows,341,6.020742,"{'cast': ['Dave Annable', 'Calista Flockhart',..."
26,movies,766,5.990043,"{'cast': ['Bruce Campbell', 'Embeth Davidtz', ..."
27,movies,402,5.848304,"{'cast': ['Sharon Stone', 'Jeanne Tripplehorn'..."
28,movies,482,5.848304,"{'cast': ['Richard Roundtree', 'Moses Gunn', '..."
29,movies,462,5.628126,"{'cast': ['Julia Roberts', 'Albert Finney', 'A..."
30,movies,792,5.602915,"{'cast': ['Charlie Sheen', 'Willem Dafoe', 'Jo..."
31,movies,238,5.579118,"{'cast': ['Marlon Brando', 'Al Pacino', 'James..."
32,movies,772,5.107244,"{'cast': ['Macaulay Culkin', 'Joe Pesci', 'Dan..."
33,movies,278,5.058579,"{'cast': ['Tim Robbins', 'Morgan Freeman', 'Bo..."
34,movies,87,5.049574,"{'cast': ['Harrison Ford', 'Kate Capshaw', 'Jo..."
35,movies,311,4.932606,"{'cast': ['Robert De Niro', 'James Woods', 'El..."
36,movies,274,4.797689,"{'cast': ['Jodie Foster', 'Anthony Hopkins', '..."
37,movies,242,4.645558,"{'cast': ['Al Pacino', 'Diane Keaton', 'Talia ..."
38,movies,620,4.645558,"{'cast': ['Bill Murray', 'Dan Aykroyd', 'Sigou..."
39,movies,557,4.553007,"{'cast': ['Tobey Maguire', 'Willem Dafoe', 'Ki..."
40,movies,121,4.446352,"{'cast': ['Elijah Wood', 'Ian McKellen', 'Vigg..."
41,movies,676,4.318675,"{'cast': ['Ben Affleck', 'Jon Voight', 'Tom Si..."
42,movies,11,4.318675,"{'cast': ['Mark Hamill', 'Harrison Ford', 'Car..."
43,movies,18,4.240282,"{'cast': ['Bruce Willis', 'Milla Jovovich', 'G..."
44,movies,479,3.952313,"{'cast': ['Samuel L. Jackson', 'Vanessa Willia..."
45,movies,597,3.769139,"{'cast': ['Leonardo DiCaprio', 'Kate Winslet',..."
46,movies,602,3.602194,"{'cast': ['Will Smith', 'Bill Pullman', 'Jeff ..."

In [8]:
temp2 = pd.merge(data, temp, how='left', on = "_id")

In [9]:
temp2

,_type,_id,_score,_source,rating,hide,watchlist,watched
0,movies,97,20.848059,"{'cast': ['Jeff Bridges', 'Bruce Boxleitner', ...",NaN,NaN,NaN,NaN
1,movies,507,10.478757,"{'cast': ['Eric Stoltz', 'Julie Delpy', 'Jean-...",NaN,NaN,NaN,NaN
2,movies,811,9.831051,"{'cast': ['Bruce Dern', 'Cliff Potts', 'Ron Ri...",NaN,NaN,NaN,NaN
3,tvshows,25222,9.288745,"{'cast': ['Ron Rifkin', 'Eddie Barth', 'Charle...",NaN,NaN,NaN,NaN
4,movies,757,9.140831,"{'cast': ['Margaret Rutherford', 'Ron Moody', ...",NaN,NaN,NaN,NaN
5,movies,588,9.029721,"{'cast': ['Radha Mitchell', 'Sean Bean', 'Jode...",NaN,NaN,NaN,NaN
6,movies,809,8.968119,"{'cast': ['Mike Myers', 'Eddie Murphy', 'Camer...",NaN,NaN,NaN,NaN
7,tvshows,106,8.586343,"{'cast': ['Andy Griffith', 'Ron Howard', 'Fran...",NaN,NaN,NaN,NaN
8,movies,759,8.351236,"{'cast': ['Jane Russell', 'Marilyn Monroe', 'C...",NaN,NaN,NaN,NaN
9,movies,810,8.224913,"{'cast': ['Mike Myers', 'Eddie Murphy', 'Camer...",NaN,NaN,0,NaN
10,movies,392,8.171915,"{'cast': ['Juliette Binoche', 'Alfred Molina',...",NaN,NaN,NaN,NaN
11,movies,629,8.070547,"{'cast': ['Stephen Baldwin', 'Kevin Spacey', '...",NaN,NaN,NaN,NaN
12,movies,744,7.992266,"{'cast': ['Tom Cruise', 'Kelly McGillis', 'Val...",NaN,NaN,0,NaN
13,movies,838,7.869948,"{'cast': ['Richard Dreyfuss', 'Ron Howard', 'P...",NaN,NaN,NaN,NaN
14,movies,847,7.856983,"{'cast': ['Warwick Davis', 'Val Kilmer', 'Joan...",NaN,NaN,NaN,NaN
15,movies,33,7.301026,"{'cast': ['Clint Eastwood', 'Gene Hackman', 'M...",NaN,NaN,NaN,NaN
16,movies,535,7.185848,"{'cast': ['Jennifer Beals', 'Michael Nouri', '...",NaN,NaN,NaN,NaN
17,movies,819,7.033730,"{'cast': ['Brad Pitt', 'Robert De Niro', 'Kevi...",NaN,NaN,NaN,NaN
18,movies,401,6.981756,"{'cast': ['Zach Braff', 'Natalie Portman', 'Ia...",NaN,NaN,NaN,NaN
19,movies,787,6.981756,"{'cast': ['Angelina Jolie', 'Brad Pitt', 'Adam...",NaN,NaN,NaN,NaN
20,movies,663,6.489738,"{'cast': ['Tobin Bell', 'Costas Mandylor', 'Sc...",NaN,NaN,NaN,NaN
21,movies,577,6.466314,"{'cast': ['Nicole Kidman', 'Matt Dillon', 'Joa...",NaN,NaN,NaN,NaN
22,movies,707,6.466314,"{'cast': ['Roger Moore', 'Christopher Walken',...",NaN,NaN,NaN,NaN
23,movies,820,6.368584,"{'cast': ['Kevin Costner', 'Tommy Lee Jones', ...",3,NaN,NaN,NaN
24,movies,280,6.200307,"{'cast': ['Arnold Schwarzenegger', 'Linda Hami...",NaN,NaN,NaN,NaN
25,tvshows,341,6.020742,"{'cast': ['Dave Annable', 'Calista Flockhart',...",NaN,NaN,NaN,NaN
26,movies,766,5.990043,"{'cast': ['Bruce Campbell', 'Embeth Davidtz', ...",NaN,NaN,NaN,NaN
27,movies,402,5.848304,"{'cast': ['Sharon Stone', 'Jeanne Tripplehorn'...",NaN,NaN,0,NaN
28,movies,482,5.848304,"{'cast': ['Richard Roundtree', 'Moses Gunn', '...",NaN,NaN,NaN,NaN
29,movies,462,5.628126,"{'cast': ['Julia Roberts', 'Albert Finney', 'A...",NaN,NaN,NaN,NaN
30,movies,792,5.602915,"{'cast': ['Charlie Sheen', 'Willem Dafoe', 'Jo...",NaN,NaN,NaN,NaN
31,movies,238,5.579118,"{'cast': ['Marlon Brando', 'Al Pacino', 'James...",NaN,NaN,NaN,NaN
32,movies,772,5.107244,"{'cast': ['Macaulay Culkin', 'Joe Pesci', 'Dan...",NaN,NaN,NaN,NaN
33,movies,278,5.058579,"{'cast': ['Tim Robbins', 'Morgan Freeman', 'Bo...",NaN,NaN,NaN,NaN
34,movies,87,5.049574,"{'cast': ['Harrison Ford', 'Kate Capshaw', 'Jo...",3,NaN,0,NaN
35,movies,311,4.932606,"{'cast': ['Robert De Niro', 'James Woods', 'El...",NaN,NaN,NaN,NaN
36,movies,274,4.797689,"{'cast': ['Jodie Foster', 'Anthony Hopkins', '...",NaN,NaN,NaN,NaN
37,movies,242,4.645558,"{'cast': ['Al Pacino', 'Diane Keaton', 'Talia ...",NaN,NaN,NaN,NaN
38,movies,620,4.645558,"{'cast': ['Bill Murray', 'Dan Aykroyd', 'Sigou...",NaN,NaN,NaN,NaN
39,movies,557,4.553007,"{'cast': ['Tobey Maguire', 'Willem Dafoe', 'Ki...",NaN,NaN,NaN,NaN
40,movies,121,4.446352,"{'cast': ['Elijah Wood', 'Ian McKellen', 'Vigg...",NaN,NaN,NaN,NaN
41,movies,676,4.318675,"{'cast': ['Ben Affleck', 'Jon Voight', 'Tom Si...",NaN,NaN,NaN,NaN
42,movies,11,4.318675,"{'cast': ['Mark Hamill', 'Harrison Ford', 'Car...",NaN,NaN,NaN,NaN
43,movies,18,4.240282,"{'cast': ['Bruce Willis', 'Milla Jovovich', 'G...",NaN,NaN,NaN,NaN
44,movies,479,3.952313,"{'cast': ['Samuel L. Jackson', 'Vanessa Willia...",NaN,NaN,NaN,NaN
45,movies,597,3.769139,"{'cast': ['Leonardo DiCaprio', 'Kate Winslet',...",NaN,NaN,NaN,NaN
46,movies,602,3.602194,"{'cast': ['Will Smith', 'Bill Pullman', 'Jeff ...",NaN,NaN,NaN,NaN

In [10]:
lst = []
for i in temp2.itertuples():
  lst.append(f"{i[4][:-1]}, 'rating': {i[5]}, 'hide': {i[6]}, 'watchlist': {i[7]}, 'watched': {i[8]}"+"}")

In [11]:
res = pd.DataFrame(lst, columns = ["_source"])
res

                                              _source
0   {'cast': ['Jeff Bridges', 'Bruce Boxleitner', ...
1   {'cast': ['Eric Stoltz', 'Julie Delpy', 'Jean-...
2   {'cast': ['Bruce Dern', 'Cliff Potts', 'Ron Ri...
3   {'cast': ['Ron Rifkin', 'Eddie Barth', 'Charle...
4   {'cast': ['Margaret Rutherford', 'Ron Moody', ...
5   {'cast': ['Radha Mitchell', 'Sean Bean', 'Jode...
6   {'cast': ['Mike Myers', 'Eddie Murphy', 'Camer...
7   {'cast': ['Andy Griffith', 'Ron Howard', 'Fran...
8   {'cast': ['Jane Russell', 'Marilyn Monroe', 'C...
9   {'cast': ['Mike Myers', 'Eddie Murphy', 'Camer...
10  {'cast': ['Juliette Binoche', 'Alfred Molina',...
11  {'cast': ['Stephen Baldwin', 'Kevin Spacey', '...
12  {'cast': ['Tom Cruise', 'Kelly McGillis', 'Val...
13  {'cast': ['Richard Dreyfuss', 'Ron Howard', 'P...
14  {'cast': ['Warwick Davis', 'Val Kilmer', 'Joan...
15  {'cast': ['Clint Eastwood', 'Gene Hackman', 'M...
16  {'cast': ['Jennifer Beals', 'Michael Nouri', '...
17  {'cast': ['Brad Pitt', 'Robert De Niro', 'Kevi...
18  {'cast': ['Zach Braff', 'Natalie Portman', 'Ia...
19  {'cast': ['Angelina Jolie', 'Brad Pitt', 'Adam...
20  {'cast': ['Tobin Bell', 'Costas Mandylor', 'Sc...
21  {'cast': ['Nicole Kidman', 'Matt Dillon', 'Joa...
22  {'cast': ['Roger Moore', 'Christopher Walken',...
23  {'cast': ['Kevin Costner', 'Tommy Lee Jones', ...
24  {'cast': ['Arnold Schwarzenegger', 'Linda Hami...
25  {'cast': ['Dave Annable', 'Calista Flockhart',...
26  {'cast': ['Bruce Campbell', 'Embeth Davidtz', ...
27  {'cast': ['Sharon Stone', 'Jeanne Tripplehorn'...
28  {'cast': ['Richard Roundtree', 'Moses Gunn', '...
29  {'cast': ['Julia Roberts', 'Albert Finney', 'A...
30  {'cast': ['Charlie Sheen', 'Willem Dafoe', 'Jo...
31  {'cast': ['Marlon Brando', 'Al Pacino', 'James...
32  {'cast': ['Macaulay Culkin', 'Joe Pesci', 'Dan...
33  {'cast': ['Tim Robbins', 'Morgan Freeman', 'Bo...
34  {'cast': ['Harrison Ford', 'Kate Capshaw', 'Jo...
35  {'cast': ['Robert De Niro', 'James Woods', 'El...
36  {'cast': ['Jodie Foster', 'Anthony Hopkins', '...
37  {'cast': ['Al Pacino', 'Diane Keaton', 'Talia ...
38  {'cast': ['Bill Murray', 'Dan Aykroyd', 'Sigou...
39  {'cast': ['Tobey Maguire', 'Willem Dafoe', 'Ki...
40  {'cast': ['Elijah Wood', 'Ian McKellen', 'Vigg...
41  {'cast': ['Ben Affleck', 'Jon Voight', 'Tom Si...
42  {'cast': ['Mark Hamill', 'Harrison Ford', 'Car...
43  {'cast': ['Bruce Willis', 'Milla Jovovich', 'G...
44  {'cast': ['Samuel L. Jackson', 'Vanessa Willia...
45  {'cast': ['Leonardo DiCaprio', 'Kate Winslet',...
46  {'cast': ['Will Smith', 'Bill Pullman', 'Jeff ...

In [12]:
res.to_csv("Python_Assessment_Output.csv", index = False)